---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v1/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=-GMMA7LUQQ_xKYRWQDgIosC2U6JNusO7R7neDIJy&client_secret=VPH8lyZjE9BhnztcvXeGWRA_OUEfckFBt4sgWqXj
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token": "BEfJAwL52r4vUaOXFYPsw1D8DBq1CL", "token_type": "Bearer",
        "expires_in": 176400, "scope": "api_access_write api_access api_access_read"}'
  recorded_at: Tue, 09 Feb 2016 07:53:01 GMT
- request:
    method: get
    uri: https://api.clarifai.com/v1/info
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer BEfJAwL52r4vUaOXFYPsw1D8DBq1CL
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - GET, HEAD, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"status_code": "OK", "status_msg": "All images in request have completed
        successfully. ", "results": {"max_image_size": 100000, "default_language":
        "en", "max_video_size": 100000, "max_image_bytes": 10485760, "min_image_size":
        1, "default_model": "general-v1.3", "max_video_bytes": 104857600, "max_video_duration":
        1800, "max_batch_size": 128, "max_video_batch_size": 1, "min_video_size":
        1, "api_version": 0.1}}'
  recorded_at: Tue, 09 Feb 2016 07:53:01 GMT
recorded_with: VCR 3.0.1
