---
http_interactions:
- request:
    method: post
    uri: https://api.clarifai.com/v1/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials&client_id=-GMMA7LUQQ_xKYRWQDgIosC2U6JNusO7R7neDIJy&client_secret=VPH8lyZjE9BhnztcvXeGWRA_OUEfckFBt4sgWqXj
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Allow:
      - POST, OPTIONS
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"access_token": "WM5TzyRgHJ9hf8u2cNLeMl5cwDb7f0", "token_type": "Bearer",
        "expires_in": 176400, "scope": "api_access_write api_access api_access_read"}'
  recorded_at: Tue, 09 Feb 2016 07:52:59 GMT
recorded_with: VCR 3.0.1
